
@media (min-width: 600px) {

    /*Cabecalho sobre-nos */

    .cabecalho{
        grid-area: cabecalho;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: fixed;
        width: 100%;
    }

    .cabecalho nav ul{
        display: flex;
    }

    .cabecalho nav{
        display: block;
    }

    .cabecalho .menu img{
        display: none;
    }

    .imagem-principal {
            margin-top: 20px;
            margin-bottom: 20px;
    }
       /* Conteúdo Principal */

       .principal{
        padding-top: 135px;
        width: 800px;
        margin: auto;
        border: solid 3px black;
        box-shadow: 2px 4px 6px black;
        margin-bottom: 20px;
         }

         section{
            border: none;
         }



            /* rodape */


            .rodape{
                grid-area: rodape;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                align-items: center;
                
            
            }
            
            .rodape ul{
                display: flex;
            }
            
            .rodape ul li{
                padding-left: 10px;
            }
    
}