@media (min-width:600px) {

     /*Cabecalho sobre-nos */

     body{
        display: grid;
        grid-template-areas: "cabecalho" "cabecalho" "cabecalho" "cabecalho"
        "background-sobrevivente"  "background-sobrevivente"  "background-sobrevivente"  "background-sobrevivente"
        "sobrevivente1"     "sobrevivente1"     "sobrevivente1"     "sobrevivente1" 
        "sobrevivente2"     "sobrevivente2"   "sobrevivente2"   "sobrevivente2" 
        "rodape"   "rodape"   "rodape"   "rodape"


     }

     .cabecalho{
        grid-area: cabecalho;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        width: 100%;
    }

    .cabecalho nav ul{
        display: flex;
    }

    .cabecalho nav{
        display: block;
    }

    .cabecalho .menu img{
        display: none;
    }


    .background-sobrevivente{
     grid-area: background-sobrevivente;
    }

    .sobreviventes-1{
        display: grid;
        grid-area: sobrevivente1 ;
        gap: 5px;
       grid-template-columns: repeat(2, 1fr);
    }
    
}

.sobreviventes-2{
    display: grid;
    grid-area: sobrevivente2;
   grid-template-columns: repeat(4, 2fr);
}



            /* rodape */


            .rodape{
                grid-area: rodape;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                align-items: center;
                
            
            }
            
            .rodape ul{
                display: flex;
            }
            
            .rodape ul li{
                padding-left: 10px;
            }