@media (min-width:600px) {

     /*Cabecalho sobre-nos */

     

     .cabecalho{
        grid-area: cabecalho;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: fixed;
        width: 100%;
        align-items: center;
      
    }

    .cabecalho nav ul{
        display: flex;
    }

    .cabecalho nav{
        display: block;
    }

    .cabecalho .menu img{
        display: none;
    }

    
    /* Sobrevivente*/

    .sobrevivente{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .sobreviventes{

        width: 400px;
        
    }


  
    
    
    
                /* rodape */
    
    
                .rodape{
                   
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    align-items: center;
                    
                
                }
                
                .rodape ul{
                    display: flex;
                }
                
                .rodape ul li{
                    padding-left: 10px;
                }
    
}

